/* Basic HTML5 element settings for CSS JOSLENNE PENA */
header, nav, aside { 
	display: block;
	margin: 0px;
	padding: 0px;
}

#container { 
	border: thin solid black; 
	background-color: white;
	width: 800px;
	padding: 10px;
	margin: auto;
	overflow: auto;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	
	/* NOTE:  This isn't going to look great because it doesn't
	 *        deal with resizing windows well.  However, it's here for
	 *        demo purposes.
	 */
	background-image: url("grandcanyon.jpg");
	background-attachment: fixed;
	background-repeat:repeat;
	
	
}

aside {
	float: right;
	width: 11em;
	background-color: gray;
	border: thin solid black;
	margin: 1em;
	padding: 1em;
	font-style: italic;
	font-size: 1.5em;
	
}

/* Begin Styles for the Table */
table {
	border: thin solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table caption
{
	font-size: 1.5em;
}

table thead 
{
	border: thin solid black;
}

table td {
	padding: .3em;
	padding-left: 1em;
	padding-right: 1em;
}
/* End Styles for the Table */

/* Begin Styles for the Nav Bar */
nav {
	text-align: center;
}

nav ul {
	padding: 0px;
	margin: 0px;
	display:inline-block;
	list-style-type: none;
}

nav ul li { 
	display: inline-block; 
	width: 150px;
	border: thin solid black;
	background-color: #CCCCCC;
	text-align:center;
	margin: 0px;		
	padding-bottom: .5em;
	padding-top: .5em;
}

nav ul li:hover {
	background-color:#555555;
}

nav ul li:hover a {
	color: white;
}

nav ul li a { 
	text-decoration: none;
	color: #000000;
	font-size: 20pt;
}
/* End Styles for the Nav Bar */


